# OPENAI_API_KEY = '' # your-openai-key
# NCBI_API_KEY = '' # your-pubmed-key
APP_EMAIL = 'example@mail.com' # your-email
DJANGO_SECRET_KEY = 'django-insecure-e9sr8e9m42oamye&n-cqg&kjr^)70k^e2f0uatlhy!i&t=y#8w' # your-django-secret